# Node / Frontend
node_modules/
dist/
.env

# Python / Backend
__pycache__/
*.pyc
venv/
env/

# Base de datos
data/
*.sql.gz
# No ignorar los scripts SQL del proyecto
!database/**/*.sql

# OS
Thumbs.db
Desktop.ini
